.product-container {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.product-box {
  height: 800px;
  width: 90%;
  display: flex;
}
.product-image {
  width: 70%;
}
.product-image img {
  height: 100%;
  width: 100%;
}
.product-text {
  width: 30%;
}
.product-title {
  min-height: 60px;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
}
.product-description {
  min-height: 60px;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
}
.product-price {
  min-height: 60px;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
}
.add-to-cart-button {
  border: 2px solid rgb(0, 0, 0);
  height: 50px;
  width: 250px;
  margin-left: 17%;
  text-align: center;
}
.add-to-cart-button button {
  width: 100%;
  height: 50px;
  cursor: pointer;
}
