.display-main-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.display-container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.display-cart {
  height: 400px;
  width: 300px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 20px;
  cursor: pointer;
}
.cart-img {
  height: 200px;
}
.cart-img img {
  height: 100%;
  width: 100%;
}
.cart-title {
  height: 50px;
  text-align: center;
}
.cart-price {
  height: 50px;
  text-align: center;
  font-family: "Rubik Bubbles", system-ui;
}
